.say-about-container {
  width: 100%;
  padding: 0 80px;
  display: flex;
  justify-content: space-between;
  background: url(../img/about/Rectangle_1_copy_5.png) 0 0 / cover no-repeat,
    url(../img/about/Rectangle_1_copy_3.png) 0 0 / cover no-repeat;
  margin: 100px 0 0 0;
}
.say-about-comments {
  flex: 0 1 53%;
  margin: 33px 0;
}
.say-about-comments-column-wrap {
  margin: 28px 0;
}
.say-about-text {
  color: #ffffff;
  padding: 134px 0 141px;
  flex: 0 1 36%;
}
.about-text-title h2 {
  color: #ffffff;
}
.say-about-text-description p {
  font-size: 15px;
  line-height: 25px;
  margin: 19px 0 78px;
}
.btn-services {
  width: 150px;
  color: #ffffff;
  font-weight: 700;
  background-color: #061e37;
}
.btn-services:hover {
  opacity: 0.8;
}
.say-about-comments-column {
  display: flex;
  align-items: center;
}
.say-about-column-img-wrap {
  margin: 0 50px 0 0;
}
.say-about-column-text-wrap {
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
  padding: 32px 64px 30px 30px;
}
.say-about-column-text-title {
  color: #061e37;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
}
.say-about-column-text-description {
  color: #78909c;
  font-size: 15px;
  line-height: 25px;
  font-style: italic;
}
.say-about-comments-down-column {
  margin: 70px 0 0 0;
}
.say-about-up-btn-wrap img {
  width: 23px;
  cursor: pointer;
}
.say-about-down-btn-wrap img {
  width: 23px;
  transform: rotate(180deg);
  cursor: pointer;
}
.say-about-down-btn-wrap,
.say-about-up-btn-wrap {
  text-align: center;
  padding: 0 0 0 100px;
}
.say-about-btn-up-down {
  border: none;
  background: none;
}
.say-about-down-btn-wrap img:hover {
  opacity: 0.7;
}
.say-about-up-btn-wrap img:hover {
  opacity: 0.7;
}
