* {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  line-height: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
}
.logo {
  display: flex;
  margin: 50px 0 0 80px;
}
.logo-text {
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 0 10px;
}
.logo-text span {
  font-weight: 600;
}

nav {
  margin: 58px 0 0 0;
}
.list {
  display: flex;
  list-style: none;
}
.menu-list-item {
  margin: 0 25px;
}
.menu-list-item a {
  font-size: 15px;
  color: #ffffff;
  font-weight: 600;
  line-height: 25px;
}
.menu-list-item a:hover {
  color: #061e37;
}
.wrap-btn-sign {
  margin: 53px 80px 0 0;
}
.btn-sign {
  width: 80px;
  height: 25px;
  border: 1px solid #ffffff;
  border-radius: 2px;
  display: inline-block;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  line-height: 22px;
  background: none;
  cursor: pointer;
  outline: none;
}
.btn-sign:hover {
  opacity: 0.8;
}
.home-content {
  display: flex;
  margin: 0 80px;
  justify-content: space-between;
  padding: 245px 0 175px;
}
.home-container {
  background: url(../img/header/back-header.png) 0 0 / cover no-repeat,
    url(../img/header/back-header2.png) 0 0 / cover no-repeat;
}
.home-text {
  flex: 0 1 580px;
}
h1 {
  color: #ffffff;
  font-size: 55px;
  line-height: 65px;
  text-transform: uppercase;
  font-weight: 800;
}
.home-text-description {
  color: #ffffff;
  font-size: 18px;
  line-height: 35px;
}
.home-text-btn {
  display: flex;
  margin: 30px 0 0 0;
}
.btn {
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
  height: 55px;
  font-size: 15px;
  text-transform: uppercase;
  border: none;
  outline: none;
  cursor: pointer;
}
.btn-buy-now {
  width: 150px;
  background-color: #061e37;
  color: #ffffff;
  font-family: "Roboto", sans-serif;
}
.btn-buy-now:hover {
  opacity: 0.8;
}
.btn-try-for-free {
  width: 160px;
  background-color: #ffffff;
  color: #061e37;
  font-weight: 700;
  margin: 0 0 0 30px;
}
.btn-try-for-free:hover {
  background-color: aliceblue;
}
.home-video {
  flex: 0 0 600px;
  height: 320px;
  border-radius: 5px;
  opacity: 0.9;
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url(../img/header/back-video.png),
    url(../img/header/back-video2.png);
}
.wrap-btn-watch {
  display: flex;
  justify-content: center;
}
.watch {
  background: none;
  border: none;
  outline: none;
  width: 60px;
  height: 60px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #061e37;
  cursor: pointer;
  display: block;
}
.watch:hover {
  opacity: 0.8;
}
.watch::after {
  content: "";
  position: relative;
  display: block;
  border: 7px solid transparent;
  border-left: 10px solid white;
  left: 25px;
}
.text-for-video {
  color: #061e37;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 20px 0 0 0;
}
