.our-team-conteiner {
  margin: 100px 478px 100px;
  text-align: center;
}
.our-team-title span {
  margin: 25px auto 0;
}
.our-team-foto {
  margin: 0 25px;
}
.our-team-foto-block {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 98px 0 0 0;
}
.our-team-foto-title {
  margin: 60px 0 0 0;
}
h5 {
  font-size: 18px;
  color: #061e37;
  font-weight: 700;
  line-height: 25px;
  margin: 0 0 20px 0;
}
.our-team-title-text {
  color: #90a4ae;
  font-size: 15px;
  line-height: 25px;
}
.our-team-social {
  display: flex;
  justify-content: center;
  margin: 29px 0 0;
}
.social-icon img {
  width: 18px;
  margin: 0 12px;
}
